* {
    box-sizing: border-box;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

main {
    flex: 80%;
    padding: 10px;
    order: 2;
}

#navbar {
    padding: 10px;
    order: 1;
}

@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

nav a {
    display: block;
}

